.header {
  width: 100%; 
  height: 250px;
  background-image: url("Ticket Header.png");
  background-size: cover;
  background-position: center center;
}

.imgbox {
  display: grid;
  height: 100%;
}
.center-fit {
  max-width: 100%;
  max-height: 150vh;
  margin: auto;
  padding-bottom: 5px;
}
.guide {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: rgb(206, 202, 202);
  font-size: 15px;
}
.fticket {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: large;
}
.content {
  max-width: 500px;
  margin: auto;
}
body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #000000;
  background-color: #fafafa;
  padding-bottom: 5px;
}
.flex-container {
  display: flex;
  opacity: 0.8;
}

.flex-child {
  flex: 1;
  /* border: 2px solid yellow; */
  /* color: rgb(146, 6, 173); */
}

.flex-child:first-child {
  margin-right: 3px;
}
.container1 {
  flex: 1;
  width: auto;
  height: 300px;
  background: black;
}
.stepTitle {
  /* color: rgb(146, 6, 173); */
  font-size: 22px;
  padding-left: 50px;
  padding-top: 16px;
  color: white;
}
.flex-container2 {
  flex: 1;
  width: auto;
  height: 500px;
  opacity: 0.8;
  background: linear-gradient(
    to right,
    black 0%,
    black 50%,
    rgba(2, 52, 161, 0.781) 0%,
    rgba(2, 52, 161, 0.781) 50%
  );
}
.gap-10 {
  width: 100%;
  height: 3px;
}
.bad {
  color: rgb(192, 190, 190);
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  font-size: 15px;
  text-align: justify;
}
.bookText {
  font-weight: bold;
  color: rgb(0, 0, 0);
  font-size: 30px;
  padding-top: 15px;
}
.right {
  color: rgb(0, 0, 0);
  padding-left: 850px;
}
