body { 
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.header {
    width: 100%; 
    height: 300px;
    background-image: url("Hotel Header.png");
    background-size: cover;
    background-position: center center;
  }

.container 
{ 
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    grid-template-rows: auto;
    grid-gap: 0 40px;
}

.container .box { 
    box-align: center;
    position: relative;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
}


.content { 
    position: relative;
    padding: 20px;
}

.box .content h2 {
    position: relative;
    top: -70px;
    margin: 0;
    padding: 0;
    font-size: 2em;
    color: white;
}

.box .content h2 {
    text-align: center;
}


.box .content p {
    margin: 0; 
    padding: 0;
    color: white;
    font-size: 18px;
    text-align: center;
}

.box .content a {
    position: relative;
    margin: 20px 0 0;
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid #fff;
    display: inline-block;
    color: #fff;
    transition: 0.5s;
    transform: translateY(-40px);
    opacity: 0;
    visibility: hidden;
}

.box:hover .content a { 
    transform: translateY(0);
    opacity: 0;
    visibility: visible;
}

.box .content a:hover {
    color: black

}

.container .box:before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: steelblue;
    transform: skew(2deg, 2deg);
}
