.header {
    width: 100%; 
    height: 300px;
    background-image: url("Schedule\ Header.png");
    background-size: cover;
    background-position: center center;
}

.dates {
	font-size: 18px;
	padding-left: 6%;
	padding-top: 15px;
}

.BigText {
	font-size: 26px;
	align-items: center;
	text-align: center;
	padding-top: 60px;
	width: 100%;
}

.buttoncenter {
	display: block;
	 margin-left: auto;
	 margin-right: auto;
	 /* width: 30%; */
	 height: 60px;
	}

body {
	font-family: Georgia, 'Times New Roman', Times, serif;
	background-image: url("/Home/HomeBackground.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.stepTitle {
	color: black;
	font-size: 30px;
	padding-left: 50px;
	padding-top: 16px;
}

.bad {
	color: black;
	padding-left: 50px;
	font-size: 20px;
}

.flex-container {
	display: flex;
	opacity: .85;
	padding-top: 20px;
	padding-bottom: 20px;
}

.flex-child {
	flex: 1;
	margin-right: 10px;
}


input {
	border: none;
	padding: 10px 30px;
	display: block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	background-color: transparent;
	color: black;
	border: 2px solid #555555;
	border-radius: 25px;


}

input:hover {
	background-color: #555555;
	color: white;
}

.flyer {
	padding-top: 20px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 42%;
	padding-left: 190px;
}

.img-responsive {
	max-width: 100%;
	max-height: 100%;
}

