.header {
    width: 100%; 
    height: 300px;
    background-image: url("Contact Header.png");
    background-size: cover;
    background-position: center center;

}

*{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url("/Home/HomeBackground.jpg");
    text-align: center;
}

p{
    font-size: 25px;
    font-weight: bold;
    color: black;
}

.h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

p, 
input,
textarea,
label {
    font-family: Georgia, 'Times New Roman', Times, serif serif;
}

.container{
    max-width: 1320px;
    margin: 0 auto;
    padding: 5%;
}

.infocontainer {
    max-width: 1320px;
    margin: 10px;
    padding: 20%;
}


form{
    max-width: 500px;
    margin: 0 auto;
    text-align: left;
    padding: 20px 0;
}

input, textarea, label{
    display: block;
    margin: 0 auto;
    width: 100%;
    color: #000000;
}

input, textarea {
    background-color: whitesmoke;
    border: 0;
    border-bottom: 2px solid #828282;
    border-radius: 25px;
}

input[type=submit]{
    background-color: #545557;
    padding: 15px 0;
    color: white;
    font-size: 18px;
    border-bottom: none;
    margin-top: 30px;
    cursor: pointer;
    transition: all cubic-bezier(0.39, 0.575, 0.565, 1) ease;
}

input[type=submit]:hover{
    background: #fff;
    color: #1b1c1e;
}


input, textarea {
    color: rgb(0, 0, 0);
    font-size: 18px;
    padding: 10px;
}

input:focus,
textarea:focus{
    outline: 1px solid;

}
