body { 
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.header {
    width: 100%; 
    height: 300px;
    background-image: url("Covid Header.png");
    background-size: cover;
    background-position: center center;
  }
  .container {
    padding: 45px;
    background-color: rgba(245, 245, 245, 0.7);
    border-radius: 25px;
    font-size: x-large;
  }

h2 { 
    text-align: center;
}

li { 
    text-align: center;
}


