body { 
    margin: 0;
    padding: 0; 
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.header {
    width: 100%; 
    height: 300px;
    background-image: url("Directions Header.png");
    background-size: cover;
    background-position: center center;
  }

.center {
    display: block;
     margin-left: auto;
     margin-right: auto;
     width: 50%;
     height: 150px;
    }

/* location + address */ 
h2 {
    color: black;
    text-align: center;
}

p { 
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    font-size: 3rem;
    line-height: 1.6;
    margin: 0 0 1.75rem;

    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
}

/* map */ 
iframe {
    margin: 0 auto; 
    display: flex;
    width: 50%;
    height: 50vh;
}

/* parking */
.parking { 
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;

}